{% extends 'polls/base.html' %}

{% block content %}
<div class="container mt-5">
    <form action="{% url 'polls:actions_index' %}" method="POST">
      {% csrf_token %}
      {% for action in actions_list %}
        <div class="form-check">
          <input class="form-check-input" type="radio" id="{{ action.id }}" name="selected_action" value="{{ action.id }}">
          <label class="form-check-label" for="{{ action.id }}">{{ action.action_name }}</label>
        </div>
        <hr>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Next</button>
    </form>
  </div>
{% endblock %}
<!--<form action="{% url 'polls:actions_index' %}" method="POST">-->
<!--  {% csrf_token %}-->
<!--  {% for action in actions_list %}-->
<!--    <input class="form-check-input" type="radio" id="{{ action.id }}" name="selected_action" value="{{ action.id }}">-->
<!--    <label class="form-check-label" for="{{ action.id }}">{{ action.action_name }}</label><br>-->

<!--&lt;!&ndash;    <div class="form-check form-check-inline">&ndash;&gt;-->
<!--&lt;!&ndash;      <input class="form-check-input" type="radio" id="{{ action.id }}" name="selected_action" value="{{ action.id }}">&ndash;&gt;-->
<!--&lt;!&ndash;      <label class="form-check-label" for="{{ action.id }}">{{ action.action_name }}</label><br>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  {% endfor %}-->
<!--  <button type="submit">Далі</button>-->
<!--</form>-->




<!--<form method="POST">-->
<!--  {% csrf_token %}-->
<!--  {% if actions_list %}-->
<!--    <ul>-->
<!--    {% for action in actions_list %}-->
<!--        <input type="radio" id="{{ action.action_name }}" name="selected_action" value="{{ action.id }}">-->
<!--        <label for="{{ action.action_name }}">{{ action.action_name }}</label><br>-->
<!--    {% endfor %}-->
<!--    <button type="submit">Далі</button>-->
<!--    </ul>-->
<!--  {% else %}-->
<!--    <p>No actions are available.</p>-->
<!--  {% endif %}-->
<!--</form>-->



<!--{% if actions_list %}-->
<!--    <ul>-->
<!--    {% for action in actions_list %}-->
<!--        <input type="radio" id="{{ action.action_name }}" name="selected_action" value="{{ action.id }}">-->
<!--        <label for="{{ action.action_name }}">{{ action.action_name }}</label><br>-->
<!--    {% endfor %}-->
<!--    <button type="submit">Далі</button>-->
<!--    </ul>-->
<!--{% else %}-->
<!--    <p>No actions are available.</p>-->
<!--{% endif %}-->
