<form method="POST">
  {% csrf_token %}
  {% if actions_list %}
    <ul>
    {% for action in actions_list %}
        <input type="radio" id="{{ action.action_name }}" name="selected_action" value="{{ action.id }}">
        <label for="{{ action.action_name }}">{{ action.action_name }}</label><br>
    {% endfor %}
    <button type="submit">Далі</button>
    </ul>
  {% else %}
    <p>No actions are available.</p>
  {% endif %}
</form>



<!--{% if actions_list %}-->
<!--    <ul>-->
<!--    {% for action in actions_list %}-->
<!--        <input type="radio" id="{{ action.action_name }}" name="selected_action" value="{{ action.id }}">-->
<!--        <label for="{{ action.action_name }}">{{ action.action_name }}</label><br>-->
<!--    {% endfor %}-->
<!--    <button type="submit">Далі</button>-->
<!--    </ul>-->
<!--{% else %}-->
<!--    <p>No actions are available.</p>-->
<!--{% endif %}-->