<!--<form action="{% url 'polls:actions_index' %}" method="POST">-->
<!--  {% csrf_token %}-->
<!--  {% for zone in zones_list %}-->
<!--    <input type="checkbox" id="{{ zone.zone_name }}" name="zones" value="{{ zone.zone_cost }}">-->
<!--    <label for="{{ zone.zone_name }}">{{ zone.zone_name }}</label><br>-->
<!--    <label for="{{ zone.zone_name }}_quantity">Кількість (від 1 до 5):</label>-->
<!--    <input type="number" id="{{ zone.zone_name }}_quantity" name="{{ zone.zone_name }}_quantity" min="1" max="5" value="1"><br>-->
<!--  {% endfor %}-->
<!--  <button type="submit">Далі</button>-->
<!--</form>-->


<!--<form method="POST">-->
<!--  {% csrf_token %}-->
<!--  {% for zone in zones_list %}-->
<!--    <input type="checkbox" id="{{ zone.zone_name }}" name="zones" value="{{ zone.zone_cost }}">-->
<!--    <label for="{{ zone.zone_name }}">{{ zone.zone_name }}</label><br>-->
<!--    <label for="{{ zone.zone_name }}_quantity">Кількість (від 1 до 5):</label>-->
<!--    <input type="number" id="{{ zone.zone_name }}_quantity" name="{{ zone.zone_name }}_quantity" min="0" max="5" value="{% if zone.is_selected %}1{% else %}0{% endif %}"><br>-->
<!--  {% endfor %}-->
<!--  <button type="submit">Далі</button>-->
<!--</form>-->


<!--{% if zones_list %}-->
<!--    <form>-->
<!--    {% for zone in zones_list %}-->
<!--&lt;!&ndash;        <a href="/polls/zones/{{ zone.id }}/">{{ zone.zone_name }}</a>&ndash;&gt;-->
<!--        <input type="checkbox" id={{ zone.zone_name }} name={{ zone.zone_name }} value={{ zone.zone_cost }}>-->
<!--        <label for={{ zone.zone_name }}> {{ zone.zone_name }} </label><br>-->
<!--        <label for={{ zone.zone_name }} |add:"quantity"> Quantity (between 1 and 5):</label>-->
<!--        <input type="number" id="quantity" name="quantity" min="1" max="5" value="1">-->
<!--    {% endfor %}-->
<!--    </form>-->
<!--{% else %}-->
<!--    <p>No zones are available.</p>-->
<!--{% endif %}-->

<form action="{% url 'polls:zones_index' %}" method="POST">
  {% csrf_token %}
  {% for zone in zones_list %}
    <input type="checkbox" id="{{ zone.id }}" name="zones" value="{{ zone.id }}">
    <label for="{{ zone.id }}">{{ zone.zone_name }}</label><br>
    <label for="{{ zone.id }}_quantity">Quantity (between 1 and 5):</label>
    <input type="number" id="{{ zone.id }}_quantity" name="{{ zone.zone_name }}_quantity" min="1" max="5" value="1"><br>
  {% endfor %}
  <button type="submit">Next</button>
</form>
